body{
    margin:0;
    padding: 0;
    background: #87c5d1;

}

.search-box{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgb(4, 42, 66);
    height: 40px;
    border-radius:40px;
    padding: 10px; 
    
}
.search-btn{
        background: rgb(4, 42, 66);
        border: none;
        color: #87c5d1;
        float: right;
        width: 40px;
        height: 0px;
        display: flex;
        align-content: center;
        justify-content: center;
}

.search-text{
    background:none;
    outline:none;
    border: none;
    float: left;
    padding: 0;    
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0;
}

.search-box:hover > .search-text{
    width: 240px;
}
