{% extends 'base.html' %}
            
<head>
    
    <title>Search box</title>
    </head>    

    <body> 
            
            {% block content %}     
            <div  class="search-box">
                    
            
                        <input  type="text" name="firstName" class="search-text" placeholder="firstName">
                        
                        <a class="search-btn" href="#" >
                                <i class="fas fa-search"></i>
                        </a>
                    
             </div>
            
           {% endblock %}
            
    </body>

